:root {
  --first: #9c27b0;
  --darkFirst: #89119d;
  --second: #ffce00;
  --darkSecond: rgb(233, 287, 2);
  --white: #fff;
  --black: #000;

  --mainFont: "Staatliches", cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* GLOBALES */

body {
  background-color: var(--first);
  font-size: 1.6rem;

  /* Es para el interlineado, no se le pone rem ni px */
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--second);
  font-family: var(--mainFont);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* Para el CSS de este proyecto vamos a usar el paradigma de BEM.
Bloques: Son los elementos HTML que no dependen de ningún otro elemento (.header).
Elementos: Estan contenidos dentro de los bloques, parte de su diseño depende de ellos (.header__cliente).
Modificadores: Son variaciones de los elementos (.header__cliente--vip). */

/* HEADER */
.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
}

/* NAV */
.nav {
  background-color: var(--darkFirst);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem; /* Separa los elementos dentro de nav */
}

.nav__link {
  font-family: var(--mainFont);
  color: var(--white);
  font-size: 3rem;
}

.nav__link--selected,
.nav__link:hover {
  color: var(--second);
}